{% extends 'buffete/base.html' %}

{% block content %}
    {% for post in casos %}
    <h2 class="mb-5">CASOS TERMINADOS</h2>

         <div class="resume-item d-flex flex-column flex-md-row mb-5">
           <div class="resume-content mr-auto">
             <h3 class="mb-0"><a href="{% url 'detalle_caso' iden=post.pk %}">{{ post.resumen }}</a></h3>
             <div class="subheading mb-3">Abogado: {{post.abogado}}</div> <div class="subheading mb-4">Cliente:  {{post.cliente}}</div>
                         <p>{{ post.descripcion|linebreaksbr }}</p>
          </div>
           <div class="resume-date text-md-right">
             <span class="text-primary">Fecha Finalizado:   {{ post.fecha_finalizacion }}</span>
           </div>
         </div>

    {% endfor %}
{% endblock %}
